.vscode/**
.vscode-test/**
out/test/**
test/**
source/**
**/*.map
.gitattributes
.gitignore
tsconfig.json
vsc-extension-quickstart.md
images/screenshot.png
images/infohex.1024.png
images/infohex.ico
.history/**
private/**
tsconfig.json
tslint.json
desktop.ini
